<ul>
  <li><%= link_to "Home" , root_path %></li>
  <li><%= link_to "Contacts" , contacts_path %></li>
  <li><%= link_to "Imported Files" , imported_files_index_path %></li>
  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
</ul>